@import "./typography/gt-america.css";
@import "./typography/atc-harris.css";
/*@import url('https://fonts.googleapis.com/css?family=Karla:400,700');*/

body {
  margin: 0;
  background-color: #122122;
  color: #ded4c6;
  font-family: "ATC Harris", "Menlo", "Courier New", monospace;
}

*::selection {
  background-color: #fff1dd;
  color: #122122;
}

h1 {
  font-size: 2.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.6em;
}

a:hover {
  color: #32483d;
  transition: color .3s ease;
}

strong {
  color: #909e97;
}

#container {
  text-align: center;
}

.main {
  min-width: 30%;
}

.main * {
  margin: .6em 0;
  line-height: 1.5em;
}

.main__heading {
  font-family: "GT America Black", "Futura", "Helvetica", sans-serif;
  font-weight: 700;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.main__heading--underline {
  font-family: "ATC Harris", "Menlo", "Courier New", monospace;
  display: inline-block;
  padding-bottom: .7em;
  border-bottom: 4px solid #32483d;
  margin-bottom: 1em;
}

.main__nav {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  display: inline-block;
}

.main__nav > a {
  padding-bottom: .2em;
}

.main__about-section {
  font-size: 1.1em;
  margin: 2em auto;
  max-width: 90%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width:320px) and (orientation: portrait) {
  .main__about-section {
    line-height: 1.6em;
    max-width: 90%;
  }

  h1.main__heading {
    font-size: 600%;
  }

  h3.main__heading {
    font-size: 450%;
  }

  .main__nav {
    font-size: 175%;
  }

  .main__about-section {
    font-size: 130%;
  }
}

@media (min-width:600px)  {
  h1.main__heading {
    line-height: 1.6em;
    font-size: 480%;
  }

  h3.main__heading {
    font-size: 260%;
    padding-bottom: .2em;
  }

  .main__nav {
    font-size: 175%;
  }

  .main__about-section {
    font-size: 130%;
  }
}

@media (min-width:1025px) {
  .main__about-section {
    line-height: 1.6em;
    max-width: 30%;
  }

  h1.main__heading {
    font-size: 300%;
  }

  h3.main__heading {
    font-size: 130%;
    padding-bottom: .2em;
  }

  .main__nav {
    font-size: 70%;
  }

  .main__about-section {
    font-size: 100%;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
